astropy
bcrypt
cffi
contourpy
cryptography
cycler
fabric
fonttools
h5py
invoke
kiwisolver
llvmlite
matplotlib
mpmath
numba
numpy
packaging
paramiko
Pillow
py-sphviewer
pycparser
pyerfa
pykdtree
PyNaCl
pyparsing
python-dateutil
PyYAML
QuasarCode==0.7.7
scipy
six
swiftsimio
sympy
tol_colors==1.2.1
unyt
velociraptor
